
.core-bar {
  height: 60px !important;
  min-height: 60px !important;  
  font-size: 16px !important; 
  font-weight: bold; 
  background-color: #fff !important;
  color: #000 !important;  
  vertical-align: middle;  
}


.core-header {
  height: 80px !important;
  line-height: 80px !important;
  min-height: 80px !important;
  font-size: 18px !important;  
  background-color: #fff !important;
  color: #000 !important;
  font-weight: bold;  
  vertical-align: middle;
  text-align: center;
}


.usersearchlist {    
  height: 100% !important;
  width: calc(100%-40px) !important;
  padding-left: 20px;
  padding-right: 20px;  
  overflow-y: auto;
  text-align: left;
}

.usersearch {
  display: block;  
  border-bottom: none;
  background: #fff;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.usersearch > * {
  height: 50px;  
}

.usersearch > .usersearchForm > .usersearchTemplate > *.core-selected {
  background: silver;
  }


.item {
      
  border-bottom: 1px solid #ddd;      
  padding: 4px;
  cursor: default;
  overflow: hidden;
  background: #fafafa;      
  }

.item[selected] {
    
border-bottom: 1px solid #ddd;  
border-top: 1px solid #ddd;
padding: 4px;
cursor: default;
overflow: hidden;
background: silver;      
}


.from {
/*font-family: 'Open Sans', Helvetica, sans-serif ;*/
display: inline;
font-weight: normal;
font-size: 13px;  
line-height: 20px;
color: black;
}
  

.prodlink {
/*font-family: 'Open Sans', Helvetica, sans-serif ;*/
font-size: 13px;
color: #3697da;
}

.modelbody {
  /*font-family: 'Open Sans', Helvetica, sans-serif ;*/
  font-size: 13px;
  font-style: italic;      
  color: black;
}

paper-icon-button {
  vertical-align: middle;
  color: black !important;  
}

.icon-list {           
  height: 20px;
  idth: 20px;       
  margin-left: 10px;
  line-height=36px;
}

.usersearchcontainer {
  height: calc(100vh - 75px);    
  background: #fff;
}



paper-button[raised].listbutton {
  background: #373b50;
  color: #fff;
  height: 30px;
  line-height: 10px;
  margin-top: 15px;  
}

.spanbutton {
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}


.selectpage {  
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;  
  line-height: 60px;
  color: #373b50 !important; 
}

paper-icon-button.chevron {
  vertical-align: middle !important;
  /* This border-radius is neccessary for any button which may later gain the .hover class to prevent visual glitching */
  border-radius: 50% !important;  
  color: #373b50 !important;  
  padding-left: 2px;
  padding-right: 2px;   

}

paper-icon-button.chevron:hover {
  background: #eee !important;
  border-radius: 50% !important;
}

paper-icon-button.deactive {
  color: #848484 !important;    
}

