#carousel-container img {
  margin: 0 auto;
  max-width: 90%;
}

.carousel-control{
  width: auto !important;
}

.carousel-control, .carousel-control:focus, .carousel-control:hover{
  background: transparent !important;
}

a.carousel-control > span:before {
  background: red;
  margin: 10px;
  padding: 5px;
}
#carousel-container paper-icon-button{
	top: 50%;
  	position: absolute;
}
.carousel {text-align: center;}

#carousel-container .left-button{  left: 0px }
#carousel-container .right-button{ right: 0px }