.badge-button{
	background-color: #373B50 !important;
	color: #fff !important;
}

.badge-footer{
	margin-top: 20px !important;
	display: flex;
}

hr{
	border: 0px;
	border-bottom: 1px solid;
	color: #ADADAD;
}

#roles{  padding: 10px 0px; }
#roles core-icon{
	height: 20px !important;
}