paper-input {                        
  color: white;
  font-size: 16px;				
} 

#core_toolbar {
  font-size: 16px;
}

.buttonflex{
  vertical-align: middle;
  margin: 10px;
}

.ui-widget{display: inline-flex;}