#map {
	padding: 0;
	margin: 0;
	background-color: black;
	position: fixed;
	width: 100%;
	height: calc(100% - 60px);
}

.toggle-map-button{
	position: absolute;
	top: 40px;
	right: 15px;
	float: right;
	z-index: 5;
	color: #385f96;
}

.clear-map-selection{
	position:absolute;
	top: 40px;
	right: 100px;
	float: right;
	z-index: 5;
	color: #385f96;
}

.ol-zoom {
	position: relative;
	bottom: 140px;
	top: inherit;
	float: right;
	left: -10px;
	display: none;
}


/*.layer-switcher .panel {
	margin-top: 90px !important;
	padding-right: 150px !important;    
}

.layer-switcher li.group {
    padding-top: 90px !important;
}*/


.toggle-layers-button{

	position: absolute;
	top: 70px;
	right: 15px;
	float: right;
	z-index: 5;
	color: #385f96;

}

.layer-switcher{
	padding: 50px 90px 0px 0px;
	right: 0px !important;
	background-color: rgba(255,255,255,0);
}

.ol-control:hover{
	background-color: rgba(255,255,255,0);
}

/*.layer-switcher .panel{
	right: 90px !important;
	top: 160px;
	position: fixed;
}*/