
#toast{
	right: 20px;
  	left: auto;
  	text-align: left;
  	display: flex;
	padding-left: 0px;
}

.success{
	background: #419641;
	color: white;
}

.error{
	background: #d9534f;
	color: white;
}

.warn{
	background: #f0ad4e;
	color: white;
}

.info{
	background: #337ab7;
	color: white;
}