.left{
	position: fixed;
	top: 64px;
	left: 10px;
	background: #fff;
}

.right{
	position: fixed;
	top: 64px;
	right: 10px;
	background: #fff;
}

.right-bottom{
	position: fixed;
	bottom: 90px;
  	right: 10px;
  	background: #fff;
  	max-width: 50%;
}

.three{
	min-width: 25%;
	max-width: 65%;
}