#prodmap {

	padding: 0;
	margin: 0;	
	width: 100%;
	height: calc(100% - 60px);
  position:relative;
  display: block;

  /*position:absolute;*/
  /*z-index:99999999999999 !important;*/
}


.ol-zoom {
  position: relative;
  bottom: 140px;
  top: inherit;
  float: right;
  left: -10px;
  display: none;
}

.ol-viewport{
  overflow: visible !important;
}

.ol-attribution button, .ol-attribution ul {
	display: none;
}

