.badge-button{
	background-color: #373B50 !important;
	color: #fff !important;
}

.badge-footer{
	margin-top: 20px !important;
	display: flex;
}

hr{
	border: 0px;
	border-bottom: 1px solid;
	color: #ADADAD;
}

#sensingfromcont, #sensingtocont, #ingestionfromcont , #ingestiontocont{
	display: none;
	position: fixed !important;
	z-index: 1 !important;
}

paper-icon-button{
	vertical-align: middle;
}

input{
	max-width: 110px !important;
	margin:5px 0px;
	padding:0px 5px;
}