/*http://www.google.com/design/spec/style/color.html#color-ui-color-application*/

/* application font */
/*core-scaffold {
    font-family: 'Open Sans', Helvetica, sans-serif ;    
}

core-toolbar {
    background: #526E9C;
    color: #fafafa;
}

/* content of the left panel */
core-toolbar {
    background: #eee;
    color: #526E9C;
    z-index: 1;
    font-size: 18px !important;
}

.content {
    top: 60px !important;
    padding: 0px;
    background: #fff !important;
    overflow: auto;    
}

.sized {
    width: 100px;
    height:60px;
    position: relative;
}

.title {
  line-height: 60px;
}

.hidden-button {
  height:60px; 
  line-height: 38px;
}

.maintitle {
  white-space: nowrap;
   line-height: 60px;
   text-align: center;
   font-size: 24px;
}

#maintitle {
  white-space: nowrap;
   line-height: 60px;
   text-align: center;
}

section{

  padding: 0px !important;
}

paper-icon-button {
  margin-top: 10px;
  margin-left: 5px;
}

core-drawer-panel, core-header-panel {
  height: 100%;
}

section {   
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0;
  text-align: left;

  flex: 1;

  box-sizing: border-box;
}

core-dropdown::shadow {
  top: 64px !important;
}